*{  box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    background-image: url(../img/flo.jpg);
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 340px;
    background-color: rgba(0,0,0,.6);
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
   border-radius: 5px;
}
.box h2{
    margin: 0;
    padding: 0;
    text-align: center;
    color: aqua;
    padding-bottom:40px;
    text-transform: capitalize;
}
.inputbox{
    margin:30px;
    position: relative;
    
}
.inputbox input{
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1.5px solid aqua;
    padding: 5px;
    color: aqua;
    
}
.inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    pointer-events: none;
    color: aqua;
    text-transform: capitalize;
    font-family: cursive;
    font-size: 14px;
}
.inputbox input:focus ~label,/*or + */
.inputbox input:valid ~label{
    top: -20px;
    left: 0;
    font-size: 14px;
    background-color: crimson;
    border-radius: 4px;
    color: #fff;
     
}
.box input[type="submit"]{
    background-color: #00cccc;
    color: #fff;
    padding: 3px 16px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: serif;
    border-radius: 20px;
    margin-left: 24px;
    transition: .3s;
    cursor: pointer;
    
}
.box input[type="submit"]:hover{
    background-color: #009999;
    transform: scale(.9);
    color: #fff;
    
}   
    






